<div style="background-color:#01a36269;
            height: 100%;
            scroll-behavior: smooth;">
    <div style="margin-left: 20%;
                background-color: rgb(255, 255, 255);
                width: 60%;
                padding-bottom: 2vw;">
        <img style="width: 50%;
                    margin-left: 25%;"
                    src='IMAGEURL' alt="Logo">
        <h1 style="text-align: center;
                    font-size: 4vw;
                    color:#01a362;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Click the button, <br/>
                    to verify your account!
        </h1>
        <div style="margin: 5vw;">
            <h2 style="font-size: 3.5vw;
                        text-align: center;">
                        Hi USERNAME!
            </h2>
            <p style="font-size: 2.5vw;">
                Thanks for using Salus - Healthy lifestyle!
                Please click on the button below to confirm your email address.
            </p>
            <strong style="font-size: 2.5vw;">After the verification process is complete:</strong>
            <ul>
                <li style="font-size: 2.5vw;">
                    Please set your personal information!
                </li>
                <li style="font-size: 2.5vw;">
                    Enjoy our app!
                </li>
            </ul>
            <form name="myForm" target="_blank" action='URL' method="post">
                <button style="font-family: Georgia, 'Times New Roman', Times, serif;
                            align-items: center;
                            background-image: linear-gradient(144deg,#01a362, #00cf7c 50%,#01a362);
                            border: 0;
                            border-radius: 20px;
                            color: #ffffff;
                            display: flex;
                            font-size: 2.5vw;
                            justify-content: center;
                            padding: 3px;
                            cursor: pointer;
                            margin-top: 5vw;
                            width: 80%;
                            margin-left: 10%;" type="submit" name="submit_param" value="submit_value">
                            <span class="text"
                                  style="background-color: #005734;
                                  padding: 16px 24px;
                                  border-radius: 20px;
                                   width: 100%;
                                  height: 3vw;">
                                  VERIFY
                            </span>
                </button>
            </form>
        </div>
    </div>
</div>